<h1><%= @playlist.name %></h1>
<h3><%= link_to "Edit", edit_playlist_path(@playlist) %></h3>

<ul>
  <% @playlist.songs.each do |song| %>
    <li><%= link_to song.title, song %></li>
  <% end %>
</ul>
